* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body > * {
  font-family: 'space_groteskregular';
  color: #1E2238;
}

body {
  overflow-x: hidden;
}

.nopad {
  padding-left: 0 !important;
  padding-right: 32px !important;
}

/* .....................section 1...................... */

header {
  /* height: 110vh; */
  position: relative;
  background-color: #1E2238;
  overflow: hidden;
}

.header-content {
  position: relative;
  z-index: 2;
}

.topmenu {
  display: flex;
  padding-top: 35px;
  margin-right: -15px;
  font-family: 'GT_light', monospace;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
@media (min-width: 992px) {
  .topmenu {
    width: 86%;
    margin: 0;
  }
}
.topmenu div {
  color: #DED9D9;
  margin: 16px;
  letter-spacing: 0.3em;
  font-size: 13px;
  transition: 0.2s;
  cursor: pointer;
}
@media (min-width: 992px) {
  .topmenu div {
    margin: 26px;
  }
  .topmenu div:hover {
    opacity: 0.6;
  }
}

.title-top, .title {
  color: #fff;
  /*text-align: center;*/
}

.title-top {
  font-family: 'GT_light', monospace;
  font-size: 18px;
  letter-spacing: 0.1em;
  margin: 171px 0 0;
  line-height: 38px;
  text-transform: uppercase;
}

.title-top a {
  color: #fff;
}
.title-top a:hover {
  color: #fff;
}

.title {
  font-size: 65px;
  font-weight: lighter;
  line-height: 0.9;
  margin: 0 0 60px;
  text-align: left;
  font-family: 'space_grotesklight';
}
@media (min-width: 992px) {
  .title {
    font-size: 120px;
    margin: 70px 0 0;
  }
}
.title-2 {
  font-size: 62px;
}
@media (min-width: 992px) {
  .title-2 {
    font-size: 114px;
  }
}
.title-abs {
  position: absolute;
  top: 8px;
  left: 142px;
  opacity: 1;
  animation: fadder 2s ease-out;
}

@media (min-width: 992px) {
  .title-abs {
    top: 1.03em;
    left: 2.1em;
  }
}
@keyframes fadder {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  50% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.title-abs svg {
  width: 84px;
}
@media (min-width: 992px) {
  .title-abs svg {
    width: 152px;
    height: 137px;
  }
}


.logoLinks {
  position: relative;
}
@media (min-width: 992px) {
  .logoLinks {
    position: absolute;
    right: 0;
    top: 55px;
  }
}
.logoLink {
  margin: 30px auto;
}
.logoLinkMIT {
  position: relative;
  top: -10px;
  left: 16px;
}
@media (min-width: 992px) {
  .logoLinkMIT {
    top: -18px;
  }
}
.logoLinkMIT svg {
  width: 52px;
  height: 80px;
}
@media (min-width: 992px) {
  .logoLinkMIT svg {
    width: 68px;
    height: 80px;
  }
}

.logo {
  height: 100px;
  width: 40px;
  transition: 0.2s;
  cursor: pointer;
}
@media (min-width: 992px) {
  .logo {
    height: 100px;
    width: 50px;
    transition: 0.2s;
    cursor: pointer;
  }
  .logo:hover {
    opacity: 0.6;
  }
}

.header-text {
  color: #fff;
  font-size: 18px;
  line-height: 1.8;
  margin-top: 4em;
  margin-bottom: 3em;
}

.triangle1 {
  width: 300px;
  height: 100px;
  position: absolute;
  z-index: 3;
  margin-top: -45px;
  left: 0;
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

canvas {
  position: absolute;
  top: 10%;
  right: -40%;
  animation: fadeIn 3s ease-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  45% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


/* .....................section 2...................... */

.paper-title {
    font-size: 84px;
    margin-bottom: 50px;
    margin-top: 80px;
    line-height: 1;
}

.subtitle {
  font-size: 31px;
  color: #CF6B6A;
  letter-spacing: 0.01em;
  margin-bottom: 15px;
  line-height: 1.4;
}

.paragraph {
  font-size: 18px;
  line-height: 1.8;
  margin-top: 26px;
}


.stickyColumn {
  height: 100%;
  position: absolute;
  left: -280px;
  padding-top: 70px;
}

.topics-graphic {
  width: 56%;
  height: auto;
  z-index: -1;
  animation: heroCircle 8s linear infinite;
}
@keyframes heroCircle {
/*  0%   { transform: rotate3d(0,0,0) scale(1); }
  25%  { transform: rotate3d(0.25,0.50,0.25,90deg) scale(1);}
  50%  { transform: rotate3d(0.50,1,0.50,180deg) scale(1.5);}
  75%  { transform: rotate3d(0.75,1.5,0.25,270deg) scale(1);}
  100% { transform: rotate3d(1,2,1,360deg) scale(1); }*/
  0% { transform: scaleX(1) skew(0deg); }
  33% { transform: scaleX(1.1) skewY(5deg); }
  66% { transform: scaleX(0.9) skew(1deg); }
  100% { transform: scaleX(1) skew(0deg); }
}

.sticky {
  position: fixed;
  top: 100px;
}

@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
    /* IE9+ CSS */
    .js-is-sticky {
      max-width: 52%;
      padding-right: 5%;
      padding-left: 9%;
    }
    .js-is-stuck {
      top: auto !important;
    }
}


.topic-title {
  width: 80%;
  font-size: 45px;
  color: #CF6B6A;
  letter-spacing: 0.05em;
  margin-bottom: 15px;
  line-height: 1.2;
  font-family: 'GT_light', monospace;
  text-transform: uppercase;
}

.topic-items {
  width: 80%;
  padding: 0;
  margin-left: 20px;
  line-height: 2;
  margin-bottom: 50px;
}

.topic-items li {
  margin-bottom: 5px;
}

/*.topic-items li:before {
    content: "•";
    position: absolute;
    margin-left: -30px;
}*/

/* .....................section 3...................... */

.row.program {
  padding-top: 150px;
  padding-bottom: 100px;
}

.submissions-container {
  background-color: #f6f7d2;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.triangle2 {
  width: 300px;
  height: 100px;
  position: absolute;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  left: 0;
  margin-top: -115px;
}

.submissions {
  margin-bottom: 80px
}

.submissions-container .container {
  margin-top: 70px;
}

.submissions-title {
  font-size: 84px;
  text-align: center;
  margin-bottom: 20px;
}

.submissions-subtitle {
  font-family: 'GT_light', monospace;
  text-transform: uppercase;
  font-size: 31px;
  color: #CF6B6A;
  letter-spacing: 0.05em;
  margin-bottom: 40px;
  line-height: 1.2;
}

.submissions-subtitle.program {
  margin-top: 119px;
}

.submission {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.date {
  font-family: 'GT_light', monospace;
  font-size: 18px;
  width: 8em;
  margin-top: 9px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.description {
  font-size: 24px;
}

.description.dates {
  width: 72%;
}

.program-title {
  font-family: 'simplon_mono_trialregular', monospace;
  font-size: 32px;
  color: #CF6B6A;
  letter-spacing: 0.05em;
  margin-bottom: 40px;
  line-height: 1.2;
}

.program-titleTop {
  text-transform: uppercase;
  display: inline-flex;
  font-family: 'simplon_mono_trialregular', monospace;
  font-size: 13px;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 1px;
  background-color: #CF6B6A;
  color: #fff;
  letter-spacing: 0.05em;
  margin-bottom: 11px;
}

.program .description {
  font-size: 22px;
}

.keynote-bio {
  font-size: 14px;
  line-height: 1.5;
}

.keynote-photo {
  width: 200px;
  flex: 0 0 auto;
}

.keynote-name {
  font-family: 'GT_light', monospace;
  line-height: 1.6;
  font-size: 18px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

.keynote-title {
  font-family: 'GT_light', monospace;
  line-height: 1.6;
  font-size: 18px;
  color: #CF6B6A;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

.keynote-description {
  font-family: 'GT_light', monospace;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  opacity: 0.75;
}

/* .....................section 4...................... */

.container-about {
  background-color: #1E2238;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 130px;
  padding-bottom: 214px;
}

.triangle3 {
  width: 300px;
  height: 100px;
  position: absolute;
  right: 0;
  margin-top: -145px;
}

.container-about .container.top {
  padding-left: 200px;
  padding-right: 200px;
}

.about-title {
  font-size: 84px;
  margin-bottom: 30px;
  color: #DED9D9;
}

.about-paragraph {
  font-size: 25px;
  margin-bottom: 60px;
  color: #DED9D9;
}

.about-copy {
  margin-bottom: 70px;
  color: #DED9D9;
}

.committee-subtitle {
  font-family: 'GT_light', monospace;
  text-transform: uppercase;
  font-size: 39px;
  color: #fff2a1;
  letter-spacing: 0.05em;
  margin-top: 50px;
  line-height: 1.2;
}

.paper {
  padding-left: 15px;
}

.organizer-photo {
  width: 150px;
  margin-top: 50px;
  flex: 0 0 auto;
}

.organizer-name {
  font-family: 'GT_light', monospace;
  line-height: 1.8;
  color: #DED9D9;
  font-size: 20px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  margin-top: 1em;
}

.organizer-name.papercom {
  font-size: 29px;
}

.organizer-description {
  font-family: 'GT_light', monospace;
  line-height: 1.8;
  color: #DED9D9;
  font-size: 18px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  opacity: 0.5;
}

.triangle4 {
  width: 300px;
  height: 100px;
  position: absolute;
  z-index: 3;
  margin-top: 129px;
  left: 0;
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* ....................section 5............................. */

.title-img {
  z-index: -1;
  position: absolute;
  margin-top: -550px;
  opacity: 0.75;
  -webkit-filter: contrast(140%); /* Safari 6.0 - 9.0 */
  filter: contrast(140%);
}

.venue.paper-title {
  margin-top: 308px;
}

.venue.paragraph {
  margin-top: 95px;
}

/* ....................footer............................. */

footer {
  overflow: hidden;
  position: relative;
  margin-top: 12em;
  margin-bottom: 6em;
}

.botmenu {
  display: none;
  font-family: 'GT_regular', monospace;
  width: 92%;
}
@media (min-width: 992px) {
  .botmenu {
    display: flex;
  }
}

.botmenu div {
  color: #bf5857;
  margin: 26px;
  letter-spacing: 0.3em;
  font-size: 13px;
  transition: 0.2s;
  cursor: pointer;
}
.botmenu div:hover {
  opacity: 0.6;
}

.logoBot {
  position: relative;
}
@media (min-width: 992px) {
  .logoBot {
    position: absolute;
    right: 0;
    top: -24px;
    /*padding-bottom: 100px;*/
  }
  .logoBot .logo {
    height: 126px;
  }
}

.footer-credit {
  margin-top: 40px;
  color: #DED9D9;
}
.footer-credit a {
  color: #bf5857;
}
.footer-credit a:hover {
  color: #bf5857;
}

.sponsors-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
  color: #1E2238;
}

.footer-title {
  font-size: 84px;
  font-weight: lighter;
  line-height: 1.3;
  margin-top: 59px;
  font-family: 'space_grotesklight';
  text-align: center;
}

.footer-subtitle {
  color: #CF6B6A;
  font-family: 'simplon_mono_trialregular', monospace;
  letter-spacing: 0.1em;
  font-size: 17px;
  text-align: center;
  line-height: 2;
  margin: 50px auto;
  margin-bottom: 90px;
}

.sponsor-logo {
  width: 150px;
  margin-top: 50px;
  flex: 0 0 auto;
}


/* ...........................................MEDIA QUERIES..................................................... */

@media (max-width: 992px) {
  .topmenu {
    justify-content: flex-start;
    overflow-x: scroll;
    padding-top: 0;
    -webkit-overflow-scrolling: touch;
  }
  .topmenu::-webkit-scrollbar {
    height: 1px !important;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.14);
  }
  .topmenu::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.57);
    border-radius: 2px;
  }
  .title-top {
    width: 30%;
  }
  .container-about .container.top {
    padding-left: 30px;
    padding-right: 30px;
  }
  .topic-title {
    font-size: 38px;
  }
  .topic-items {
    width: 90%;
  }
  .stickyColumn {
    left: -153px;
  }
  .topics-graphic {
    width: 43%;
  }
  .program-title {
    font-size: 29px;
  }
  .program .description {
    font-size: 19px;
  }
  .organizer-name {
    font-size: 28px;
  }
  .organizer-name.papercom {
    font-size: 27px;
  }
  .botmenu {
    justify-content: flex-start;
    overflow-x: scroll;
    padding-top: 80px;
    width: 100%;
  }
  .botmenu::-webkit-scrollbar {
    height: 1px !important;
    border-radius: 2px;
    background-color: rgba(207, 106, 105, 0.2);
  }
  .botmenu::-webkit-scrollbar-thumb {
    background-color: rgba(207, 106, 105, 0.9);
    border-radius: 2px;
  }
}

@media (max-width: 892px) {

  .circle-footer {
    opacity: 0.5;
  }
}

@media (max-width: 768px) {
  .title-top {
    width: 50%;
  }
  .logoLink {
    margin: 0 auto;
  }
  .container-about .container.top {
    padding-left: 0px;
    padding-right: 0px;
  }
  .left, .right {
    text-align: center;
  }
  /* .col-scroll {
    padding-top: 0;
    padding-right: 55px !important;
    padding-left: 55px !important;
  } */
  .row.program {
    padding-top: 57px;
  }
  .submissions-container {
    margin-top: 30px;
    padding-top: 80px;
    padding-bottom: 60px;
    padding-right: 55px !important;
    padding-left: 55px !important;
  }
  .submissions-container .container {
    margin-top: 25px;
  }
  .submissions {
    margin-bottom: 70px;
  }
  .submissions-title {
    margin-bottom: 5px;
    text-align: left;
  }
  .submissions-subtitle {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .submissions-subtitle.program {
    margin-top: 10px;
  }
  .submission {
    margin-bottom: 0;
  }
  .description.dates {
    width: 100%;
  }
  .program-title {
    margin-bottom: 30px;
  }
  .container-about {
    margin-top: 0;
    padding-top: 60px;
    margin-bottom: 135px;
  }
  .triangle3 {
    margin-top: -83px;
  }
  .about-title {
    font-size: 68px;
  }
  .about-copy {
    margin-bottom: 37px;
  }
  .about-copy.bot {
    padding-left: 55px !important;
    padding-right: 55px !important;
  }
  .organizer-photo {
    width: 180px;
  }
  .sponsor-logo {
    width: 180px;
  }
}

@media (max-width: 600px) {
  main {
    padding-left: 35px !important;
    padding-right: 35px !important;
  }
  .title-top {
    margin: 28px 0;
    width: 70%;
  }
  .paper-title {
    font-size: 62px;
    padding-left: 15px;
  }
  .submissions-title {
    font-size: 62px;
  }
  .description {
    font-size: 20px;
  }
  .submissions-subtitle.program {
    padding-left: 15px;
  }
  .about-title {
    font-size: 50px;
  }
  .about-copy.top {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  .about-paragraph {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  .committee-subtitle {
    font-size: 33px;
  }
  .organizer-photo.papercom {
    width: 124px;
  }
  .organizer-name {
    margin-bottom: 18px;
  }
  .date {
    margin-top: 0;
  }
  .title-img {
    margin-top: -550px;
    height: 400px;
  }
  .footer-title {
    font-size: 57px;
  }
  .footer-subtitle {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  .venue.paper-title {
    margin-top: 180px;
    margin-bottom: 15px;
  }
  .title-img {
    margin-top: -424px;
    height: 400px;
  }
  .venue.paragraph {
    margin-top: 20px;
  }
}

@media (max-width: 450px) {
  .title-top {
    width: 94%;
  }
  .col-scroll {
    padding-right: 35px !important;
    padding-left: 35px !important;
  }
  .paper-title {
    font-size: 52px;
  }
  .program .paper-title {
    padding-left: 0;
  }
  .topic-title {
    font-size: 29px;
  }
  .stickyColumn {
    left: -20px;
    padding-top: 20px;
  }
  .topics-graphic {
    opacity: 0.9
  }
  .submissions-title {
    font-size: 43px;
    text-align: left;
  }
  .submissions-subtitle {
    margin-top: 37px;
    margin-bottom: 24px;
    font-size: 24px;
  }
  .description {
    font-size: 17px;
  }
  .program-title {
    font-size: 25px;
  }
  .submissions-container {
    padding-bottom: 44px;
    padding-right: 35px !important;
    padding-left: 35px !important;
  }
  .container-about {
    margin-bottom: 106px;
  }
  .about-title {
    font-size: 43px;
  }
  .about-paragraph {
    padding-left: 20px !important;
    padding-right: 20px !important;
    font-size: 20px;
    margin-bottom: 40px;
  }
  .about-copy.top {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .about-copy.bot {
    padding-left: 35px !important;
    padding-right: 35px !important;
  }
  .organizer-name {
    font-size: 25px;
  }
  .organizer-description {
    font-size: 15px;
  }
  .organizer-photo.papercom {
    width: 96px;
  }
  .organizer-name.papercom {
    font-size: 21px;
  }

}
